.fieldError{
    border: 1px solid red;
    margin: auto;
}

/* button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

button:hover {
    background-color: #cfd8dc;
  }

  body, input[text], button {
    color: #333;
    font-family: Cambria, Georgia;
  } */