<div class='loginForm'>
    <h1>Login</h1>
    <div class='textbox'>
        <input type='text' [(ngModel)]='userNameField' placeholder="User name" >
    </div>
    <div class='textbox'>
        <input type='text'[(ngModel)]="passwordField" placeholder="Password" >
    </div>
    <div>
        <input type='checkbox'>
        <label>Remember me</label>
    </div>
    <div clas='col-md-3'>
        <button (click)="loginClick()">Login</button>
    </div>
    <div>
        <button [routerLink] = "['/register']" >Create an account</button>
    </div>
    
</div>

