@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css"; 

.form-inline .form-control{
    width:600px;
 }

  

 #navBtn, a:not(#navNoChange)  {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
  
  }
  #navBtn:before, a:not(#navNoChange):before{
    content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top: 2px solid #262626;
          border-bottom: 2px solid #262626;
          transform: scaleY(2);
          opacity: 0;
          transition: .3s;
  }
  #navBtn:after, a:not(#navNoChange):after{
    content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #262626;
          transform: scale(0);
          opacity: 0;
          transition: .3s;
          z-index: -1;
  }
  #navBtn:hover, a:not(#navNoChange):hover{
    color: #fff;
  }

  #navBtn:hover:before, a:not(#navNoChange):hover:before{
    transform: scaleY(1);
    opacity: 1;
  }
  #navBtn:hover:after, a:not(#navNoChange):hover:after{
    transform: scaleY(1);
    opacity: 1;
  }



  /*this is for the button
  #navBtn  {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
  
  }
  #navBtn:before{
    content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top: 2px solid #262626;
          border-bottom: 2px solid #262626;
          transform: scaleY(2);
          opacity: 0;
          transition: .3s;
  }
  #navBtn:after{
    content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #262626;
          transform: scale(0);
          opacity: 0;
          transition: .3s;
          z-index: -1;
  }
  #navBtn:not(#navNoChange):hover{
    color: #fff;
  }

  #navBtn:not(#navNoChange):hover:before{
    transform: scaleY(1);
    opacity: 1;
  }
  #navBtn:not(#navNoChange):hover:after{
    transform: scaleY(1);
    opacity: 1;
  }
  */