<div class='container'>
    <h3>Users</h3>
    <table class='table' *ngIf='users && users.length'>
        <thead>
            <tr>
            <th>username</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>email</th>
            <th>password</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor='let user of users'>
                <td>{{ user.id}}</td>
                <td>{{ user.username}}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname}}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.password}}</td>
                <td>{{ user.createdAt}}</td>
                <td>{{ user.updatedAt}}</td>
                
            </tr>
        </tbody>
    </table>
</div>